<article class="card">
  <img [src]="post.picture" alt="Alt text" />
  <div class="card-body">
    <h3>{{ post.title }}</h3>
    <p>{{ post.description }}</p>
    <ul class="card-tags">
      <li class="card-tag" *ngFor="let tag of post.tags">{{ tag.title }}</li>
    </ul>
    <a routerLink="/details/{{post.id}}">En savoir plus</a>
    <p class="icons">
      <i class="fa fa-trash" (click)="delete()"></i>
      <span class="likes">{{ likes }} <i class="far fa-heart" (click)="like()"></i></span>
    </p>
  </div>
</article>