.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 1em;
  border-bottom-left-radius: .25em;
  border-bottom-right-radius: .25em;
}
.card img {
  width: 100%;
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
  height: 280px;
  object-fit: cover;
}
.card-body {
  padding: .5em 1em;
}
.card-body h3 {
  margin: 0 0 .5em 0;
}
.card-body .icons {
  display: flex;
  justify-content: space-between;
}
.card-body .likes .fa-heart {
  color: #c34;
}

.card-tags {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.card-tag {
  padding: .125em .5em;
  border: 1px solid #ddd;
  background: #ddd;
  border-radius: 12px;
  list-style-type: none;
  margin: 0 5px 5px 0;
}