/* --- Nav --- */
nav {
  background: #444;
  color: #eee;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul.flex {
    display: flex;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  display: inline-block;
  color: #eee;
  padding: .75em 1em;
}
nav ul li a:hover {
  text-decoration: underline;
}
#notifications {
  display: none;
}
.notifications-wrapper {
  position: relative;
}
ul.notifications {
  position: absolute;
  display: none;
  background: #333;
  width: 200px;
}
ul.notifications li {
  border-bottom: 1px solid #444;
  padding: .5em;
}
input#notifications:is(:checked) + ul.notifications {
  display: block;
}