<main>
  <div class="container">
    <div class="grid">

      <div class="column-3">
        <article class="card">
          <img [src]="post1.picture" alt="Alt text" />
          <div class="card-body">
            <h3>{{ post1.title }}</h3>
            <p>{{ post1.description }}</p>
            <p class="likes">0 <i class="far fa-heart"></i></p>
          </div>
        </article>
      </div>

      <div class="column-3">
        <article class="card">
          <img src="https://via.placeholder.com/480x320?text=image" alt="Alt text" />
          <div class="card-body">
            <h3>Title</h3>
            <p>This is a description.</p>
            <p class="likes">0 <i class="far fa-heart"></i></p>
          </div>
        </article>
      </div>

      <div class="column-3">
        <article class="card">
          <img src="https://via.placeholder.com/480x320?text=image" alt="Alt text" />
          <div class="card-body">
            <h3>Title</h3>
            <p>This is a description.</p>
            <p class="likes">0 <i class="far fa-heart"></i></p>
          </div>
        </article>
      </div>

    </div>
  </div>
</main>