<main>
  <div class="container">
    <article class="details" *ngIf="post">
      <h3>{{ post.title }}</h3>
      <a routerLink="/">Retour à l&apos;accueil</a>
      <div class="details-body">
        <img [src]="post.picture" [alt]="post.title" />
        <p>{{ post.description }}</p>
      </div>
    </article>

    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <textarea formControlName="text">
      </textarea>

      <button type="submit">Comment</button>
    </form>
  </div>
</main>